.search-container {
  width:90%;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  display:flex;
  justify-content:center;
}
.search-form {
  width:75%;
  background-color:black;
  margin-left:10px;
}
button {
  margin-left: 10px;
  border-radius: 5px;
}
fieldset {
  text-align: center;
  
  border-color:black;
}